<h2>Available movies</h2>
<div>
  <ul>
    {{#each response}}

      <li>{{this.name}}</li>
      <li>{{this.genre}}</li>
      <li>{{this.plot}}</li>
      <li>{{#each this.cast}}
          {{this.name}}
        {{/each}}</li>
      <br />
      <a href="/movies/{{_id}}">Details</a>
      <button type="submit">Delete</button>

    {{/each}}
  </ul></div>